<header>
    <h1>Proyecto de autos</h1>
    <nav>
        <a href="/">Inicio</a> |
        <a href="/products">Todos los Autos</a> |
        <a href="/products/brand/Honda">Por Marca</a> |
        <a href="/products/color/Azul">Por Color</a> |
        <a href="/products/model/Cruze">Por Modelo</a> |
        <a href="/products/year/2020">Por Año</a>
    </nav>
    <hr>
</header>
